<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Atualizaremos seu consumo de água diário </string>
	<key>NSCameraUsageDescription</key>
	<string>Utilizaremos sua câmera para realidade aumentada</string>
	<key>UIAppFonts</key>
	<array>
		<string>Quantico-Bold.ttf</string>
		<string>Quantico-Regular.ttf</string>
	</array>
	<key>NSHealthShareUsageDescription</key>
	<string>Precisamos pegar seu consumo mais recente, bem como sua altura e peso para cálculo da meta</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
